# Ignore all content in /images, but keep the folder
/images/

# Ignore all content in /test/images, but keep the folder
/test/images/

# Ignore all __pycache__ directories
**/__pycache__/

# Ignore all content in /data/images, but keep the folder
/data/images/ 


models/cnn_model_pytorch.pth # too big to upload
